*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(251, 239, 234);
  background: linear-gradient(180deg, rgb(251, 239, 234) 3%, rgb(239, 238, 234) 20%, rgb(252, 250, 246) 36%, rgb(255, 255, 255) 89%);
}

.main-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.all-footer-container {
  background-color: #F0DCC5;
}

.nav-container {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}
.nav-container .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
}
@media (max-width: 370px) {
  .nav-container .nav-wrapper {
    padding: 30px 30px;
  }
}
.nav-container .nav-wrapper .nav-logo {
  padding-right: 48px;
}
@media (max-width: 999px) {
  .nav-container .nav-wrapper .nav-logo {
    padding-right: 30px;
  }
}
@media (max-width: 489px) {
  .nav-container .nav-wrapper .nav-logo {
    width: 200px;
  }
}
@media (max-width: 370px) {
  .nav-container .nav-wrapper .nav-logo {
    width: 150px;
  }
}
.nav-container .nav-wrapper .nav-menu-wrapper {
  display: flex;
  align-items: center;
  gap: 48px;
}
@media (max-width: 999px) {
  .nav-container .nav-wrapper .nav-menu-wrapper {
    gap: 30px;
  }
}
.nav-container .nav-wrapper .nav-menu-wrapper ul.nav-menu-1 {
  padding-left: 0;
  display: flex;
  gap: 48px;
}
@media (max-width: 999px) {
  .nav-container .nav-wrapper .nav-menu-wrapper ul.nav-menu-1 {
    gap: 30px;
  }
}
@media (max-width: 899px) {
  .nav-container .nav-wrapper .nav-menu-wrapper ul.nav-menu-1 {
    display: none;
  }
}
.nav-container .nav-wrapper .nav-menu-wrapper ul.nav-menu-1 li.nav-menu-item {
  list-style-type: none;
}
.nav-container .nav-wrapper .nav-menu-wrapper ul.nav-menu-1 li.nav-menu-item a.nav-menu-item-link {
  text-decoration: none;
  color: #333333;
}
.nav-container .nav-wrapper .nav-menu-wrapper ul.nav-menu-1 li.nav-menu-item a.nav-menu-item-link:hover {
  color: #647B64;
}
.nav-container .nav-wrapper .nav-menu-wrapper img {
  display: none;
}
@media (max-width: 899px) {
  .nav-container .nav-wrapper .nav-menu-wrapper img {
    display: inline;
  }
}
@media (max-width: 599px) {
  .nav-container .nav-wrapper .nav-menu-wrapper .nav-menu-2 {
    display: none;
  }
}
.nav-container .nav-wrapper .nav-menu-wrapper .nav-menu-2 a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  background: rgb(100, 123, 100);
  background: linear-gradient(135deg, rgb(100, 123, 100) 18%, rgb(102, 172, 102) 99%);
}
.nav-container .nav-wrapper .nav-menu-wrapper .nav-menu-2 a:hover {
  background: #66ac66;
}

.hero-box-wrapper {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.hero-box-wrapper img.girl {
  position: absolute;
  right: 10%;
  z-index: -100;
  overflow: hidden;
}
@media (max-width: 699px) {
  .hero-box-wrapper img.girl {
    right: -20%;
  }
}
@media (max-width: 489px) {
  .hero-box-wrapper img.girl {
    right: -35%;
  }
}
@media (max-width: 370px) {
  .hero-box-wrapper img.girl {
    right: -35%;
    top: -7%;
    min-width: 250px;
    max-width: 290px;
  }
}
.hero-box-wrapper img.ellipse-bw {
  position: absolute;
  left: -20%;
  top: 65%;
}
.hero-box-wrapper .hero-box-content-wrapper {
  max-width: 490px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 146px 0 166px;
  margin-left: 80px;
  background-image: url(images/elipse.svg);
  background-repeat: no-repeat;
  background-position: 40% 23%;
}
@media (max-width: 699px) {
  .hero-box-wrapper .hero-box-content-wrapper {
    margin-left: 70px;
    padding: 126px 0 166px;
  }
}
@media (max-width: 599px) {
  .hero-box-wrapper .hero-box-content-wrapper {
    margin-left: 60px;
    padding: 110px 0 166px;
  }
}
@media (max-width: 489px) {
  .hero-box-wrapper .hero-box-content-wrapper {
    margin-left: 45px;
    margin-right: 45px;
    padding: 80px 0 166px;
  }
}
@media (max-width: 370px) {
  .hero-box-wrapper .hero-box-content-wrapper {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 699px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper {
    width: 80%;
  }
}
@media (max-width: 370px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper {
    width: 100%;
  }
}
.hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}
@media (max-width: 899px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-title {
    font-size: 30px;
  }
}
@media (max-width: 699px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-title {
    font-size: 27px;
  }
}
@media (max-width: 599px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-title {
    font-size: 24px;
  }
}
@media (max-width: 489px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-title {
    font-size: 20px;
  }
}
@media (max-width: 370px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-title {
    font-size: 18px;
  }
}
.hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-text {
  line-height: 1.4;
  letter-spacing: 1px;
  width: 85%;
  color: #4F4F4F;
}
@media (max-width: 599px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-text {
    font-size: 15px;
  }
}
@media (max-width: 489px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-text {
    font-size: 14px;
    width: 100%;
  }
}
@media (max-width: 370px) {
  .hero-box-wrapper .hero-box-content-wrapper .hero-box-text-wrapper .hero-box-text {
    font-size: 12px;
  }
}
.hero-box-wrapper .hero-box-content-wrapper a.button {
  text-decoration: none;
  color: white;
  width: 65%;
  max-width: 350px;
  min-width: 230px;
  padding: 20px;
  background: rgb(100, 123, 100);
  background: linear-gradient(135deg, rgb(100, 123, 100) 18%, rgb(102, 172, 102) 99%);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 370px) {
  .hero-box-wrapper .hero-box-content-wrapper a.button {
    padding: 15px;
    min-width: 160px;
    width: 55%;
  }
}
.hero-box-wrapper .hero-box-content-wrapper a.button .button-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
}
@media (max-width: 370px) {
  .hero-box-wrapper .hero-box-content-wrapper a.button .button-text {
    font-size: 10px;
  }
}
.hero-box-wrapper .hero-box-content-wrapper a.button:hover {
  background: #66ac66;
}

.content-1-wrapper {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 100px 0;
}
@media (max-width: 899px) {
  .content-1-wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 370px) {
  .content-1-wrapper {
    gap: 50px;
    padding: 50px 0;
  }
}
.content-1-wrapper .content-1-content-wrapper {
  max-width: 567px;
  padding: 0 0 0 40px;
}
@media (max-width: 899px) {
  .content-1-wrapper .content-1-content-wrapper {
    padding-right: 40px;
    width: 90%;
  }
}
.content-1-wrapper .content-1-content-wrapper .content-text-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  width: 90%;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 999px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper {
    margin-bottom: 20px;
  }
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper {
    width: 100%;
  }
}
.content-1-wrapper .content-1-content-wrapper .content-text-wrapper img {
  position: absolute;
  left: -155%;
  top: -10%;
}
@media (max-width: 999px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper img {
    left: -200%;
  }
}
@media (max-width: 899px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper img {
    left: -150%;
  }
}
@media (max-width: 699px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper img {
    left: -150%;
  }
}
@media (max-width: 599px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper img {
    left: -220%;
  }
}
@media (max-width: 489px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper img {
    left: -300%;
  }
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper img {
    left: -350%;
  }
}
.content-1-wrapper .content-1-content-wrapper .content-text-wrapper .content-text-title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
  align-items: flex-start;
  z-index: 100;
}
.content-1-wrapper .content-1-content-wrapper .content-text-wrapper .content-text-title-wrapper .content-1-title-1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #F3B562;
  font-weight: 500;
  margin-bottom: 0;
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper .content-text-title-wrapper .content-1-title-1 {
    font-size: 15px;
  }
}
.content-1-wrapper .content-1-content-wrapper .content-text-wrapper .content-text-title-wrapper .content-1-title-2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #647B64;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper .content-text-title-wrapper .content-1-title-2 {
    font-size: 20px;
  }
}
.content-1-wrapper .content-1-content-wrapper .content-text-wrapper .content-1-text {
  color: #4F4F4F;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 1px;
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-content-wrapper .content-text-wrapper .content-1-text {
    font-size: 10px;
  }
}
.content-1-wrapper .content-1-content-wrapper a.button {
  text-decoration: none;
  color: white;
  width: 65%;
  max-width: 350px;
  min-width: 230px;
  padding: 20px;
  background: rgb(100, 123, 100);
  background: linear-gradient(135deg, rgb(100, 123, 100) 18%, rgb(102, 172, 102) 99%);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-content-wrapper a.button {
    padding: 15px;
    min-width: 160px;
    width: 55%;
  }
}
.content-1-wrapper .content-1-content-wrapper a.button .button-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-content-wrapper a.button .button-text {
    font-size: 10px;
  }
}
.content-1-wrapper .content-1-content-wrapper a.button:hover {
  background: #66ac66;
}
.content-1-wrapper .content-1-service-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media (max-width: 899px) {
  .content-1-wrapper .content-1-service-wrapper {
    gap: 30px;
    margin-right: 40px;
    margin-left: 40px;
  }
}
@media (max-width: 489px) {
  .content-1-wrapper .content-1-service-wrapper {
    gap: 5px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-service-wrapper {
    gap: 5px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
.content-1-wrapper .content-1-service-wrapper .service-wrapper a {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 40px 27px 45px 40px;
  text-decoration: none;
}
@media (max-width: 599px) {
  .content-1-wrapper .content-1-service-wrapper .service-wrapper a {
    padding: 30px 15px 35px 30px;
  }
}
@media (max-width: 489px) {
  .content-1-wrapper .content-1-service-wrapper .service-wrapper a {
    padding: 25px 12px 30px 25px;
  }
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-service-wrapper .service-wrapper a {
    padding: 25px 12px 30px 25px;
  }
}
.content-1-wrapper .content-1-service-wrapper .service-wrapper a .service-icon {
  fill: #647B64;
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-service-wrapper .service-wrapper a .service-icon {
    width: 45px;
    height: 45px;
  }
}
.content-1-wrapper .content-1-service-wrapper .service-wrapper a .service-text-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}
.content-1-wrapper .content-1-service-wrapper .service-wrapper a .service-text-wrapper .service-title {
  font-size: 17px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-service-wrapper .service-wrapper a .service-text-wrapper .service-title {
    font-size: 13px;
  }
}
.content-1-wrapper .content-1-service-wrapper .service-wrapper a .service-text-wrapper .service-text {
  font-size: 13px;
  color: #4F4F4F;
  margin: 0;
  line-height: 1.4;
}
@media (max-width: 370px) {
  .content-1-wrapper .content-1-service-wrapper .service-wrapper a .service-text-wrapper .service-text {
    font-size: 10px;
  }
}
.content-1-wrapper .content-1-service-wrapper .service-wrapper:hover {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.content-1-wrapper .content-1-service-wrapper .service-wrapper:hover .service-icon {
  fill: white;
  background-color: #647B64;
  border: 1px solid #647B64;
}

.content-2-wrapper {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.content-2-wrapper .content-2-title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
  text-align: center;
  padding: 56px 40px;
}
@media (max-width: 599px) {
  .content-2-wrapper .content-2-title-wrapper {
    padding: 36px 40px;
  }
}
@media (max-width: 489px) {
  .content-2-wrapper .content-2-title-wrapper {
    padding: 26px 40px;
  }
}
@media (max-width: 370px) {
  .content-2-wrapper .content-2-title-wrapper {
    padding: 26px 40px;
  }
}
.content-2-wrapper .content-2-title-wrapper .content-2-title-1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #F3B562;
  font-weight: 500;
  margin-bottom: 0;
}
@media (max-width: 599px) {
  .content-2-wrapper .content-2-title-wrapper .content-2-title-1 {
    font-size: 17px;
  }
}
@media (max-width: 489px) {
  .content-2-wrapper .content-2-title-wrapper .content-2-title-1 {
    font-size: 15px;
  }
}
@media (max-width: 370px) {
  .content-2-wrapper .content-2-title-wrapper .content-2-title-1 {
    font-size: 15px;
  }
}
.content-2-wrapper .content-2-title-wrapper .content-2-title-2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #647B64;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 599px) {
  .content-2-wrapper .content-2-title-wrapper .content-2-title-2 {
    font-size: 24px;
  }
}
@media (max-width: 489px) {
  .content-2-wrapper .content-2-title-wrapper .content-2-title-2 {
    font-size: 20px;
  }
}
@media (max-width: 370px) {
  .content-2-wrapper .content-2-title-wrapper .content-2-title-2 {
    font-size: 20px;
  }
}
.content-2-wrapper .content-2-select-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 0 50px 40px;
  overflow: hidden;
}
.content-2-wrapper .content-2-select-wrapper .dots {
  position: absolute;
  left: 0;
  bottom: -2%;
  z-index: -100;
}
@media (max-width: 599px) {
  .content-2-wrapper .content-2-select-wrapper .dots {
    left: 5%;
    bottom: 3%;
  }
}
.content-2-wrapper .content-2-select-wrapper .rectangle {
  position: absolute;
  right: -55%;
  bottom: -2%;
  z-index: -100;
  overflow: hidden;
}
@media (max-width: 899px) {
  .content-2-wrapper .content-2-select-wrapper .rectangle {
    display: none;
  }
}
.content-2-wrapper .content-2-select-wrapper .select-wrapper a {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 78px 50px 72px 50px;
  background: rgb(223, 227, 223);
  background: linear-gradient(0deg, rgb(223, 227, 223) 5%, rgb(255, 255, 255) 43%);
  border-radius: 8px;
  text-decoration: none;
  min-width: 157px;
}
@media (max-width: 999px) {
  .content-2-wrapper .content-2-select-wrapper .select-wrapper a {
    min-width: 300px;
  }
}
@media (max-width: 599px) {
  .content-2-wrapper .content-2-select-wrapper .select-wrapper a {
    min-width: 250px;
    padding: 38px 25px 42px 25px;
  }
}
@media (max-width: 489px) {
  .content-2-wrapper .content-2-select-wrapper .select-wrapper a {
    min-width: 230px;
  }
}
@media (max-width: 370px) {
  .content-2-wrapper .content-2-select-wrapper .select-wrapper a {
    min-width: 200px;
  }
}
.content-2-wrapper .content-2-select-wrapper .select-wrapper a .select-icon {
  fill: #647B64;
}
.content-2-wrapper .content-2-select-wrapper .select-wrapper a .select-text-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}
.content-2-wrapper .content-2-select-wrapper .select-wrapper a .select-text-wrapper .select-title {
  font-size: 17px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.content-2-wrapper .content-2-select-wrapper .select-wrapper a .select-text-wrapper .select-text {
  font-size: 13px;
  color: #4F4F4F;
  margin: 0;
  line-height: 1.4;
}
.content-2-wrapper .content-2-select-wrapper .select-wrapper a:hover {
  background: #647B64;
}
.content-2-wrapper .content-2-select-wrapper .select-wrapper a:hover .select-icon {
  fill: white;
}
.content-2-wrapper .content-2-select-wrapper .select-wrapper a:hover .select-text-wrapper .select-title {
  color: white;
}
.content-2-wrapper .content-2-select-wrapper .select-wrapper a:hover .select-text-wrapper .select-text {
  color: white;
}

.content-3-wrapper {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
  padding: 100px 0;
  position: relative;
}
@media (max-width: 999px) {
  .content-3-wrapper {
    gap: 0;
  }
}
@media (max-width: 899px) {
  .content-3-wrapper {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 699px) {
  .content-3-wrapper {
    grid-template-columns: 40% 52%;
  }
}
@media (max-width: 599px) {
  .content-3-wrapper {
    grid-template-columns: 35% 55%;
  }
}
@media (max-width: 489px) {
  .content-3-wrapper {
    grid-template-columns: 25% 70%;
  }
}
.content-3-wrapper .content-3-image-wrapper .rectangle {
  position: absolute;
  left: 6%;
  top: 20%;
  z-index: -100;
}
@media (max-width: 999px) {
  .content-3-wrapper .content-3-image-wrapper .rectangle {
    width: 450px;
    top: 30%;
    left: -2%;
  }
}
@media (max-width: 899px) {
  .content-3-wrapper .content-3-image-wrapper .rectangle {
    width: 350px;
    top: 30%;
    left: -5%;
  }
}
@media (max-width: 699px) {
  .content-3-wrapper .content-3-image-wrapper .rectangle {
    left: -12%;
  }
}
@media (max-width: 599px) {
  .content-3-wrapper .content-3-image-wrapper .rectangle {
    left: -27%;
    top: 35%;
  }
}
@media (max-width: 489px) {
  .content-3-wrapper .content-3-image-wrapper .rectangle {
    left: -65%;
  }
}
.content-3-wrapper .content-3-image-wrapper .meeting {
  display: flex;
  align-items: center;
}
@media (max-width: 999px) {
  .content-3-wrapper .content-3-image-wrapper .meeting {
    width: 450px;
    position: relative;
    top: 10%;
    left: -15%;
  }
}
@media (max-width: 899px) {
  .content-3-wrapper .content-3-image-wrapper .meeting {
    width: 350px;
    top: 15%;
    left: -25%;
  }
}
@media (max-width: 699px) {
  .content-3-wrapper .content-3-image-wrapper .meeting {
    left: -45%;
  }
}
@media (max-width: 599px) {
  .content-3-wrapper .content-3-image-wrapper .meeting {
    left: -105%;
    top: 25%;
  }
}
@media (max-width: 489px) {
  .content-3-wrapper .content-3-image-wrapper .meeting {
    left: -300%;
  }
}
.content-3-wrapper .content-3-content-wrapper {
  max-width: 567px;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 100px 0 100px 40px;
}
@media (max-width: 899px) {
  .content-3-wrapper .content-3-content-wrapper {
    padding: 100px 40px 100px 0;
  }
}
.content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
.content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text-title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
}
.content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text-title-wrapper .content-3-title-1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #F3B562;
  font-weight: 500;
  margin-bottom: 0;
}
@media (max-width: 899px) {
  .content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text-title-wrapper .content-3-title-1 {
    font-size: 17px;
  }
}
@media (max-width: 599px) {
  .content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text-title-wrapper .content-3-title-1 {
    font-size: 15px;
  }
}
.content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text-title-wrapper .content-3-title-2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #647B64;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 899px) {
  .content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text-title-wrapper .content-3-title-2 {
    font-size: 26px;
  }
}
@media (max-width: 599px) {
  .content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text-title-wrapper .content-3-title-2 {
    font-size: 20px;
  }
}
.content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text {
  color: #4F4F4F;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 1px;
  width: 85%;
}
@media (max-width: 899px) {
  .content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text {
    font-size: 13px;
  }
}
@media (max-width: 599px) {
  .content-3-wrapper .content-3-content-wrapper .content-3-text-wrapper .content-3-text {
    font-size: 10px;
  }
}
.content-3-wrapper .content-3-content-wrapper a.button {
  text-decoration: none;
  color: white;
  width: 65%;
  max-width: 350px;
  min-width: 230px;
  padding: 20px;
  background: rgb(100, 123, 100);
  background: linear-gradient(135deg, rgb(100, 123, 100) 18%, rgb(102, 172, 102) 99%);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .content-3-wrapper .content-3-content-wrapper a.button {
    padding: 15px;
    min-width: 160px;
    width: 55%;
  }
}
.content-3-wrapper .content-3-content-wrapper a.button .button-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
}
@media (max-width: 599px) {
  .content-3-wrapper .content-3-content-wrapper a.button .button-text {
    font-size: 10px;
  }
}
.content-3-wrapper .content-3-content-wrapper a.button:hover {
  background: #66ac66;
}

.content-4-wrapper {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 150px;
}
@media (max-width: 370px) {
  .content-4-wrapper {
    padding-bottom: 70px;
  }
}
.content-4-wrapper .content-4-title-wrapper {
  padding: 56px 40px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 370px) {
  .content-4-wrapper .content-4-title-wrapper {
    padding: 26px 30px;
  }
}
.content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
}
.content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #F3B562;
  font-weight: 500;
  margin-bottom: 0;
}
@media (max-width: 999px) {
  .content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-1 {
    font-size: 18px;
  }
}
@media (max-width: 699px) {
  .content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-1 {
    font-size: 17px;
  }
}
@media (max-width: 489px) {
  .content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-1 {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-1 {
    font-size: 15px;
  }
}
.content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #647B64;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 999px) {
  .content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-2 {
    font-size: 32px;
  }
}
@media (max-width: 699px) {
  .content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-2 {
    font-size: 28px;
  }
}
@media (max-width: 489px) {
  .content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-2 {
    font-size: 21px;
  }
}
@media (max-width: 370px) {
  .content-4-wrapper .content-4-title-wrapper .content-4-title-text-wrapper .content-4-title-2 {
    font-size: 20px;
  }
}
.content-4-wrapper .content-4-title-wrapper .content-4-title-arrows-wrapper {
  display: flex;
  gap: 35px;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 699px) {
  .content-4-wrapper .content-4-title-wrapper .content-4-title-arrows-wrapper {
    display: none;
  }
}
.content-4-wrapper .content-4-title-wrapper .content-4-title-arrows-wrapper .arrow-1-icon {
  fill: #647B64;
}
.content-4-wrapper .content-4-title-wrapper .content-4-title-arrows-wrapper .arrow-1-icon:hover {
  fill: #66ac66;
}
.content-4-wrapper .content-4-title-wrapper .content-4-title-arrows-wrapper .arrow-2-icon {
  fill: white;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 17px;
  background: rgb(100, 123, 100);
  background: linear-gradient(135deg, rgb(100, 123, 100) 18%, rgb(102, 172, 102) 99%);
}
.content-4-wrapper .content-4-title-wrapper .content-4-title-arrows-wrapper .arrow-2-icon:hover {
  background: #66ac66;
}
.content-4-wrapper .people-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-top: 20px;
  padding-left: 40px;
  overflow: hidden;
}
@media (max-width: 899px) {
  .content-4-wrapper .people-wrapper {
    gap: 30px;
  }
}
@media (max-width: 699px) {
  .content-4-wrapper .people-wrapper {
    gap: 20px;
  }
}
@media (max-width: 599px) {
  .content-4-wrapper .people-wrapper {
    gap: 15px;
  }
}
.content-4-wrapper .people-wrapper .person-wrapper a {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 32px 32px 40px;
  border-radius: 8px;
  background: rgb(223, 227, 223);
  background: linear-gradient(0deg, rgb(223, 227, 223) 5%, rgb(255, 255, 255) 43%);
  text-decoration: none;
  height: 100%;
}
@media (max-width: 999px) {
  .content-4-wrapper .people-wrapper .person-wrapper a {
    min-width: 300px;
  }
}
@media (max-width: 599px) {
  .content-4-wrapper .people-wrapper .person-wrapper a {
    min-width: 280px;
  }
}
@media (max-width: 489px) {
  .content-4-wrapper .people-wrapper .person-wrapper a {
    min-width: 250px;
  }
}
@media (max-width: 370px) {
  .content-4-wrapper .people-wrapper .person-wrapper a {
    min-width: 230px;
  }
}
.content-4-wrapper .people-wrapper .person-wrapper a .person-photo-wrapper {
  display: flex;
  gap: 10px;
}
.content-4-wrapper .people-wrapper .person-wrapper a .person-photo-wrapper .person-photo {
  width: 100%;
}
.content-4-wrapper .people-wrapper .person-wrapper a .person-photo-wrapper .person-photo img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-4-wrapper .people-wrapper .person-wrapper a .person-photo-wrapper .person-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 25px;
  align-items: flex-start;
  width: 50%;
}
.content-4-wrapper .people-wrapper .person-wrapper a .person-photo-wrapper .person-text-wrapper .person-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #4F4F4F;
  letter-spacing: 1px;
  margin: 0;
}
.content-4-wrapper .people-wrapper .person-wrapper a .person-photo-wrapper .person-text-wrapper .person-name {
  font-size: 11px;
  text-transform: uppercase;
  color: #4F4F4F;
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.4;
}
.content-4-wrapper .people-wrapper .person-wrapper a .person-comment {
  color: #4F4F4F;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 0;
}
.content-4-wrapper .people-wrapper .person-wrapper a:hover {
  background: rgb(190, 196, 190);
  background: linear-gradient(0deg, rgb(190, 196, 190) 5%, rgb(255, 255, 255) 43%);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.footer-container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.footer-container .footer-wrapper {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 4fr 5fr 4fr;
  gap: 60px;
  padding: 97px 40px 102px;
}
@media (max-width: 999px) {
  .footer-container .footer-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 699px) {
  .footer-container .footer-wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 370px) {
  .footer-container .footer-wrapper {
    grid-template-columns: 1fr;
    padding: 40px 40px 60px 30px;
  }
}
.footer-container .footer-wrapper .footer-1-wrapper .footer-logo {
  margin-bottom: 15px;
}
@media (max-width: 370px) {
  .footer-container .footer-wrapper .footer-1-wrapper .footer-logo {
    width: 190px;
  }
}
.footer-container .footer-wrapper .footer-1-wrapper .footer-1-text-wrapper {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 19px;
  font-size: 14px;
  letter-spacing: 2px;
}
.footer-container .footer-wrapper .footer-1-wrapper .footer-1-text-wrapper .footer-1-text-1 {
  line-height: 1.4;
  color: #4F4F4F;
}
.footer-container .footer-wrapper .footer-1-wrapper .footer-1-text-wrapper .footer-1-text-2-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #4F4F4F;
}
.footer-container .footer-wrapper .footer-1-wrapper .media-icons-wrapper {
  display: flex;
  gap: 16px;
}
.footer-container .footer-wrapper .footer-1-wrapper .media-icons-wrapper .circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 7px;
  background-color: #E2D2BB;
  position: relative;
}
.footer-container .footer-wrapper .footer-1-wrapper .media-icons-wrapper .circle .media-icon {
  fill: #647B64;
}
.footer-container .footer-wrapper .footer-1-wrapper .media-icons-wrapper .circle .media-icon-twitter {
  fill: #647B64;
  position: absolute;
  left: 27%;
  top: 27%;
}
.footer-container .footer-wrapper .footer-1-wrapper .media-icons-wrapper .circle:hover {
  background-color: #66ac66;
}
.footer-container .footer-wrapper .footer-1-wrapper .media-icons-wrapper .circle:hover .media-icon {
  fill: white;
}
.footer-container .footer-wrapper .footer-1-wrapper .media-icons-wrapper .circle:hover .media-icon-twitter {
  fill: white;
}
.footer-container .footer-wrapper .footer-middle-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 699px) {
  .footer-container .footer-wrapper .footer-middle-wrapper {
    justify-content: flex-start;
    gap: 100px;
  }
}
@media (max-width: 489px) {
  .footer-container .footer-wrapper .footer-middle-wrapper {
    gap: 0;
    justify-content: space-between;
  }
}
.footer-container .footer-wrapper .footer-middle-wrapper .footer-2-wrapper .footer-2-wrapper-name {
  color: #647B64;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 27px;
}
.footer-container .footer-wrapper .footer-middle-wrapper .footer-2-wrapper ul.footer-2-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-container .footer-wrapper .footer-middle-wrapper .footer-2-wrapper ul.footer-2-list li.footer-2-list-item a {
  text-decoration: none;
  color: #333333;
  letter-spacing: 1px;
}
@media (max-width: 899px) {
  .footer-container .footer-wrapper .footer-middle-wrapper .footer-2-wrapper ul.footer-2-list li.footer-2-list-item a {
    font-size: 14px;
  }
}
@media (max-width: 699px) {
  .footer-container .footer-wrapper .footer-middle-wrapper .footer-2-wrapper ul.footer-2-list li.footer-2-list-item a {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .footer-container .footer-wrapper .footer-middle-wrapper .footer-2-wrapper ul.footer-2-list li.footer-2-list-item a {
    letter-spacing: 0;
    font-size: 14px;
  }
}
.footer-container .footer-wrapper .footer-middle-wrapper .footer-2-wrapper ul.footer-2-list li.footer-2-list-item a:hover {
  text-decoration: underline;
  color: #66ac66;
}
.footer-container .footer-wrapper .footer-middle-wrapper .footer-3-wrapper .footer-3-wrapper-name {
  color: #647B64;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 27px;
}
.footer-container .footer-wrapper .footer-middle-wrapper .footer-3-wrapper ul.footer-3-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-container .footer-wrapper .footer-middle-wrapper .footer-3-wrapper ul.footer-3-list li.footer-3-list-item a {
  text-decoration: none;
  color: #333333;
  letter-spacing: 1px;
}
@media (max-width: 899px) {
  .footer-container .footer-wrapper .footer-middle-wrapper .footer-3-wrapper ul.footer-3-list li.footer-3-list-item a {
    font-size: 14px;
  }
}
@media (max-width: 699px) {
  .footer-container .footer-wrapper .footer-middle-wrapper .footer-3-wrapper ul.footer-3-list li.footer-3-list-item a {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .footer-container .footer-wrapper .footer-middle-wrapper .footer-3-wrapper ul.footer-3-list li.footer-3-list-item a {
    letter-spacing: 0;
    font-size: 14px;
  }
}
.footer-container .footer-wrapper .footer-middle-wrapper .footer-3-wrapper ul.footer-3-list li.footer-3-list-item a:hover {
  text-decoration: underline;
  color: #66ac66;
}
.footer-container .footer-wrapper .footer-4-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer-container .footer-wrapper .footer-4-wrapper .send-message-wrapper .footer-2-wrapper-name {
  text-transform: uppercase;
  color: #647B64;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 13px;
}
.footer-container .footer-wrapper .footer-4-wrapper .send-message-wrapper textarea:valid {
  border: none;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 145x;
  outline: none;
  width: 100%;
}
@media (max-width: 370px) {
  .footer-container .footer-wrapper .footer-4-wrapper .send-message-wrapper textarea:valid {
    width: 100%;
  }
}
.footer-container .footer-wrapper .footer-4-wrapper a.button {
  text-decoration: none;
  color: white;
  width: 100%;
  max-width: 350px;
  min-width: 250px;
  padding: 20px;
  background: rgb(100, 123, 100);
  background: linear-gradient(135deg, rgb(100, 123, 100) 18%, rgb(102, 172, 102) 99%);
  display: flex;
  justify-content: space-between;
}
.footer-container .footer-wrapper .footer-4-wrapper a.button .button-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
}
.footer-container .footer-wrapper .footer-4-wrapper a.button:hover {
  background: #66ac66;
}/*# sourceMappingURL=style.css.map */