*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(251,239,234);
    background: linear-gradient(180deg, rgba(251,239,234,1) 3%, rgba(239,238,234,1) 20%, rgba(252,250,246,1) 36%, rgba(255,255,255,1) 89%);
}

.body-container {
    overflow-x: hidden;
}

.main-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


.all-footer-container {
    background-color: #F0DCC5;
}