$text-color-accent: #F3B562;
$text-color-headers: #647B64;
$text-neutral-1: #4F4F4F;
$text-neutral-2: #333333;

$button-color-main: linear-gradient(135deg, rgba(100,123,100,1) 18%, rgba(102,172,102,1) 99%);
$button-color-hover: #66ac66;